p, nav, ul, li{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	color: #1a1c1a;
}


	a:link {text-decoration: none; color:#676060;}      
	a:visited {text-decoration: none; color:#676060}  
	a:hover {text-decoration: none; color:#813834;}  
	a:active {text-decoration: none; color:#676060;}

a.highlight{color: #bf1b12;}

body{
	background-color: black;
	background-image: url('../images/background-2.jpg');
	background-repeat: repeat;
}

img.caritaslogo{
	position: absolute;
	display: block;
	margin-left: 170px;
	margin-right: auto;
	margin-top: 35px;
	width: 170px;
	height: auto;
}

div.accent{
	background-color: #a7321a;
	position: absolute;
	width: 101%;
	height: 38px;
	margin-left: -1%;
	margin-top: -1%;
	box-shadow: 3px 3px 5px #aeacac;	
}

p.welcome, a.welcome{
	color: #f7f2f2;
	text-align: right;
	margin-right: 10px;
}
	a.welcome:hover{
		text-decoration: underline;
	}

div.header{
	/*background-color: #a7321a;*/
	position: absolute;
	width: 101%;
	height: 127px;
	margin-left: -1%;
	margin-top: -1%;
}

div.search{
	margin-left: 970px;
	margin-top: 70px;
	position: absolute;
}
	input.search{
		text-indent: 5px;
		border-radius: 5px;
		width: 200px;
		height: 33px;
		border: 0px;
		margin-top: -3px;
	}

	input.searchbtn{
		background-image: url('../images/search1.png');
		background-repeat: no-repeat;
		width: 35px;
		height: 35px;
		position: absolute;
		margin-left: 5px;
		margin-top: -2px;
		border: 0px;
		background-color: transparent;
		cursor: pointer;
	}

div.navBG{
	background-color: #d6d3d3;
	opacity: 0.3;
	margin-left: 900px;
	width: ;
}
nav.menu{
	margin-left: 380px;
	margin-top: 77px;
	z-index: 1;
}
nav ul ul {
	display: none;
	z-index: 1;
}

	nav ul li:hover > ul {
		display: inline;
	}

nav ul {
	/*background: #efefef; */
	border-radius: 0px;  
	list-style: none;
	position: relative;
	display: inline-table;
	z-index: 1;

}
	nav ul:after {
		content: ""; 
		display:  inline-block;
	}

	nav li.menu, a.menu{
		margin-top: 10px;
		font-size: 19px;
		cursor: default;
		z-index: 1;
	}


nav ul li {
	float: left;
}
	nav ul li:hover {
		/*background: #4b545f;*/
	}
		nav ul li:hover a {
			color: #bf1b12 !important;
			z-index: 1;
		}

		
	
	nav ul li a {
		display: block; 
		padding: 20px;
		color: #757575; 
		text-decoration: none;
		z-index: 1;
	}

nav ul ul {
	background: #efeeef; 
	border-radius: 0px; 
	padding: 0;
	position: absolute; 
	top: 100%;
}
	nav ul ul li {
		float: none; 
		border-bottom: 2px solid #f4f2f4;
		position: relative;
		z-index: 1;
	}
		nav ul ul li a {
			padding: 10px;
			width:200px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #dad8da;
			}

nav ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
	z-index: 1;
}

div.content{
	width: 1050px;
	height: auto;
	position: absolute;
	margin-left: 117px;
	margin-top: 20px;
	background-image: url('../images/bgOpac.png');
	background-repeat: repeat;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	color: black;
	font-size: 20px;
}



/* Basic Grey */
.basic-grey {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    background: #EEE;
    padding: 20px 30px 20px 30px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DADADA;
    
}
.basic-grey h1 {
    font: 25px Georgia, "Times New Roman", Times, serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px 0px 5px;
}
.basic-grey label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea,.basic-grey select{
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;

}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    cursor: pointer;
    margin-left: 600px;
}
.basic-grey .button:hover {
    background: #CF7A7A
}



/*******************************
********************************
********************************
*******************************/


table.loancollection{
	border: 1px solid #dadada;
	border-collapse: collapse;
	margin-left: 94px;
	margin-top: -1px;
	margin-top:;
	width: 861px;
	height: auto;
	display: inline-block;
	background-color: #eeeeee;
}

.DCtotal{
	font-size: 12px;
	font-weight: bold;
	text-indent: 3px;
	background-color: 
}
	.DCtotal2{
		font-size: 12px;
		font-weight: bold;
		text-indent: 3px;
		text-align: center;
	
	}

.DChdr{
	font-size: 12px;
	font-weight: bold;
	text-indent: 3px;
	border-top: 1px solid #c9c7c7;
	border-bottom: 1px solid #c9c7c7;
	border-right: 1px solid #c9c7c7;
	background-color: 
}
	.DChdr2{
		font-size: 12px;
		font-weight: bold;
		text-indent: 3px;
		text-align: center;
		border-bottom: 1px solid #c9c7c7;
		border-right: 1px solid #c9c7c7;
	}

.DCcontent{
	font-size: 11px;
	text-indent: 3px;
	text-align: left;
}

	.DCcontent2{
		font-size: 11px;
		text-indent: 3px;
		text-align: center;
	}

.loancollection th, td{
	font-size: 14px;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	padding: 10px 0px 5px 0px;
	color:#747b80;

}
	tr.row{
		border-bottom-style: solid;
		border-width: 1px;
		border-bottom-color: #c9c7c7;
	}

		tr.border{
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: #c9c7c7;
			border-top-style: solid;
			border-top-width: 1px;
			border-top-color: #c9c7c7;
		}

		tr.headr{
			border-top-style: solid;
			border-width: 1px;
			border-top-color: #c9c7c7;
			border-bottom-style: solid;
			border-width: 1px;
			border-bottom-color: #c9c7c7;
		}

		tr.rowtotal{
			border-top-style: double;
			border-color: #c9c7c7;
		}

		.loancollection th{
			background-color: #dedede;
		}

	a.previous, a.next{
		margin-left: 100px;
		margin-top: -20px;
		position: absolute;
		font-size: 14px;
		font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
		
	}


		a.next{
			margin-left: 850px;
		}

		a.next:hover, a.previous:hover{
			text-decoration: underline;
		}

	a.dcSummary{
		margin-left: -20px;
		margin-top: -10px;
		position: absolute;
		font-size: 14px;
		color: #5e4444;
		font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	}
		.dcSummary:hover{
			text-decoration: underline;
		}


	td.collectmember, td.num{
		text-indent:5px;
		padding: 10px 0px 10px 0px;
	}

	td.collectmember{
		width:250px;
	}
		td.collectmember1{
			width:285px;
			text-indent:5px;
			padding: 10px 0px 10px 0px;
		}

		td.ploan, td.pd, td.sbu, td.payment, td.withdraw, td.balance, td.savings{
			width: 100px;
			text-align: center;
			padding: 10px 0px 10px 0px;
		}

		td.ploan1, td.pd1, td.withdraw1, td.balance1, td.savings1{
			width: 110px;
			text-align: center;
			padding: 10px 0px 10px 0px;
		}

	input.withdraw, input.sbu{
		width:100%;
    	display:block;
    	border: none;
    	background-color: transparent;
    	text-align: center;
	}


	select.viewselection{
		text-indent: 0px;
		border-radius: 2px;
		padding: 0px 5px 0px 5px;
		height: 20px;
		border: 0px;
		appearance: none;
	}

	input.go{
		border: 0px;
		padding: 2px  5px 2px 5px;
		color: #f2f0f0;
		position: absolute;
		background-color: #90807d;
		border-radius: 2px;
		cursor: pointer;
	}

		.go:hover{
			background-color: #807d7c;
		}


input.inputSBU{
	width: 100px;
	border: 0;
	background-color: transparent;
	text-align: center;
}


table.signature{
	border-collapse: collapse;
}

	.sigBy{
		font-size: 14px;
		text-align: right;
		color: black;

	}

	.sig{
		width: 300px;
		color: black;
		font-weight: bold;
		text-indent: 10px;
	}
	.sig2{
		width: 200px;
		color: black;
		font-weight: bold;
		text-indent: 10px;


	}

h3{
	font-family: "Times New Roman", Times, serif;
	color: #1a1c1a;
	text-align: center;
	font-size: 15px;
}

img.caritaslogo2{
	display: block;
	margin-right: auto;
	width: 110px;
	height: auto;
	margin-left: auto;
}



td.header{
	background-color:#828285; 
	color:#e8e8e9;
	height: 15px;
	text-align: center;
	font-weight: bold;
	width: 858px;
}

td.hdrDC{
	text-align: center;
	font-size: 13px;
	background-color: #e8e8e9;
	color: #828285;
	padding: 5px 10px 5px 10px;
}

td.dcData{
	height: 25px;
	text-align: center;
	border-right: hidden;
}

td.dcData1{
	height: 25px;
	text-indent: 5px;
	border-right: hidden;
}

td.dcData2{
	height: 25px;
	text-align: center;
	
}

input.dcInput{
	width: 50px;
	border: 0;
	background-color: #e8e8e9; 
	text-align: right;
}

tr.dcHover:hover{
	background-color: #dfdadb;
}

